div class="col-md-3"
  = link_to '<< Back', root_path
div class="col-md-3 col-md-offset-6"
  = link_to 'Registration', registration_path
hr
h2 Login

#errors
  = render partial: "shared/flash_errors", flash: flash  
    
= simple_form_for :user, url: login_api_path, :defaults => {:required => false} do |f| 
  = f.input :username, label: 'Username'
  = f.input :password, label: 'Password'
  = f.button :submit, "Login!", data: { disable_with: "Wait, please..."}


