div class="col-md-3"
  = link_to 'Login', login_path
div class="col-md-3 col-md-offset-6"
  = link_to 'Registration', registration_path
hr
h2 System for solving mathematical equations
h3 Only linear and quadratic equations 
#errors
  = render partial: "shared/flash_errors", flash: flash  
    
= simple_form_for :equation, remote: true, url: equation_path, :defaults => {:required => false} do |f| 
  = f.input :type, collection: ["linear","quadratic"], id:"equation_select", label: 'Type:', prompt: "Select type of equation", selected: "linear"
  = f.input :equation_text, label: 'Equation', hint: 'Example: x + 5x = 12 , x^2+3x-3=-x^2-2x'
  = f.button :submit, "Solve equation!", data: { disable_with: "Wait, please..."}

#answer class="text-center"
