div class="col-md-3"
  = link_to '<< Back', root_path
div class="col-md-3 col-md-offset-6"
  = link_to 'Login', login_path
hr
h2 Registration

#errors
  = render partial: "shared/flash_errors", flash: flash  
    
= simple_form_for :user, url: registration_api_path, :defaults => {:required => false} do |f| 
  = f.input :username, label: 'Username'
  = f.input :password, label: 'Password'
  = f.input :password_confirmation, label: 'Password confirmation'
  = f.button :submit, "Registration!", data: { disable_with: "Wait, please..."}


