

BODY {
  background: #e2e2e2;
  font-family: 'Lato', sans-serif;
}


#iCard {
  background: #F3F3F3;
  -webkit-box-shadow: 10px 20px 30px 1px #C2C2C2;
  box-shadow: 10px 20px 30px 1px #C2C2C2;
  margin-top: 3%;
  padding-bottom: 15px;
}



h2 {
  color: #4b4946;
  margin: 0px;
  padding: 0px;
  padding-top: 15px;
}

h3 {
  font-size: 16px;
  color: #8a8a8a;
  margin: 0px;
  padding: 0px;
  padding-bottom: 10px;
  padding-top: 15px;
  text-align: center;
}

#answer{
  margin-top: 20px;
}

