<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="iCard" class="col-md-offset-4 col-md-4 col-sm-offset-2 col-sm-8 col-xs-12">
    <div class="container-fluid text-center">
      <%= yield %>
    </div>
  </div>
</body>
</html>
